*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html body {
	font-family: Roboto;
}

.lista-pedidos {
	margin-top: 24px;
}
.mdl-layout-title{
	color: white;
}

.mdl-card.pedido {
	margin: 24px auto;
	min-height: 0;
	max-width: 800px;
	width: 90%;
}
.mdl-card__title.pedido-mesa{


    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 600s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 600s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: green;}
    50%  {background-color: yellow;}
    100% {background-color: red;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: green;}
    50%  {background-color: yellow;}
    100% {background-color: red;}
}

.pedido-data {
	color: #999;
	float: right;
	font-size: 75%;
	margin-right: 0.5em;
	margin-top: 16px;
}

.sem-pedidos-container {
	display: table;
	height: 80vh;
	width: 100%;
}

.sem-pedidos {
	display: table-cell;
	text-align: center;
	vertical-align: middle;

	text-shadow: 0 0 2px rgba(0,0,0,0.05);
	color: #ddd;
	font-size: 3em;
	font-style: italic;
}