<head>
  <title>Huuungry Cozinha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-red.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
  <link rel="stylesheet" type="text/css" href="cozinhapp.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          <b>Huuungry Cozinha </b>
          <i class="fa fa-registered" style="font-size:15px"></i>
        </span>
        <div class="mdl-layout-spacer"></div>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Monitor</a>
      <!--  <a href="#scroll-tab-2" class="mdl-layout__tab">Produtos</a> -->
      </div>
    </header>
    <main class="mdl-layout__content">
      <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
        <div class="page-content lista-pedidos">
          {{#if currentUser}} {{#each pedidos}} {{> pedido}} {{/each}} {{else}} Você precisa se logar ao sistema Huuungry Cozinha&reg;
          primeiro! {{/if}}
        </div>
        {{#if currentUser}} {{#unless pedidos.count}}
        <div class="page-content sem-pedidos-container">
          <div class="sem-pedidos">Sem pedidos no momento!</div>
        </div>
        {{/unless}} {{/if}}
      </section>
      <br>
      <br>
      <section class=" mdl-layout__tab-panel section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--8-col" id="scroll-tab-2">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">
            <b>Cadastro de Produtos</b>
            
            {{> produdo}}
          </h2>
        </div>
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div class="mdl-card__supporting-text">
            <form class="new-task">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="nome" type="text" name="text" />
                <label class="mdl-textfield__label" for="nome">Nome do Produto
                </label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" id="obs" type="text" name="descricao" />
                <label class="mdl-textfield__label" for="obs">Descrição
                </label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input ng-model="$ctrl.preco" class="mdl-textfield__input" id="price" type="number" name="preco" />
                <label class="mdl-textfield__label" for="price">Preço
                </label>
              </div>
              <div>
              </div>
            </form>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Submit</button>
          </div>
        </div>
      </section>
    </main>
    <footer class="blockquote-footer">
      <small>
        <cite title="Source Title">Desenvolvido por Hungry Corporation</cite>
      </small>
    </footer>
  </div>
</body>
<template name="pedido">
  <div class="mdl-card mdl-shadow--2dp pedido">
    <div class="mdl-card__title mdl-color--red-500 mdl-color-text--white pedido-mesa">
      <h2 class="mdl-card__title-text">
        {{#if mesa}} Pedido Mesa {{mesa}} {{/if}} {{#if info}} Pedido Delivery {{/if}}
      </h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{itens}} {{observacao}} {{#if info}}
      <br>
      <em>{{info}}</em> {{/if}}
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect delete">Finalizar</button>
      <i class="pedido-data">Entregue às {{horario createdAt}}</i>
    </div>
  </div>

</template>

<template name="produdo">
    {{player}}
</template>